node_modules
.git
.venv
.venv_new
backend/node_modules
frontend/node_modules
backend/dist
frontend/dist
.env
flask/.env
backend/.env
backend/src/constants/rawData/*
backend/src/constants/processedData/*
!backend/src/constants/rawData/.keep
!backend/src/constants/processedData/.keep
frontend/
