PyPDF2
PyMuPDF
Pillow
easyocr
python-dotenv
docx2pdf
fpdf
scikit-learn
numpy
google-generativeai
groq
fastapi
uvicorn
python-multipart
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
